@page "/finances"

<tile-group>
    <h1>bank balance</h1>
    <tile size="wide" title="main finances"></tile>
    <tile size="normal" title="add 50.- to credit card"></tile>
    <h1>stock</h1>
    <tile size="normal" title="tesla"></tile>
    <tile size="wide" title="my tesla stock"></tile>
</tile-group>