@page "/fitness"

<tile-group>
    <h1>pushups</h1>
    <tile size="big" title="the graph"></tile>
    <tile size="normal" title="add 10"></tile>
    <tile size="normal" title="add 20"></tile>
</tile-group>