@page "/car"

<tile-group>
    <h1>epona</h1>
    <tile size="wide" title="current range"></tile>
    <tile size="normal" title="current temperature"></tile>
    <tile size="normal" title="charge to 100%"></tile>
    <tile size="normal" title="charge to 90%"></tile>
    <tile size="normal" title="open charge port"></tile>
    <tile size="normal" title="precondition"></tile>
</tile-group>