@page "/lights"

<tile-group>
    <h1>living room</h1>
    <tile size="normal" title="turn on"></tile>
    <tile size="normal" title="turn off"></tile>
    <h1>bedroom</h1>
    <tile size="normal" title="turn on"></tile>
    <tile size="normal" title="turn off"></tile>
</tile-group>