html {
    background: #000;
    color: #fff;
    font-family: "segoe ui", sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    line-height: 5vw;
    min-height: 100%;
    width: 100%;
    background: radial-gradient( circle at 50%,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    cursor: default;
    font-family: inherit;
    font-size: inherit;
    text-shadow: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20rem;
    max-width: 800px;
}

/* wide screen */
@media screen and (max-aspect-ratio: 1/1) {
    html {
        font-size: 2vh;
        line-height: 2vh;
    }
}

/* vertical screen */
@media screen and (min-aspect-ratio: 1/1) {
    html {
        font-size: 2vw;
        line-height: 2vw;
    }
}

button {
    outline: none;
    border: none;
    background: none;
    width: 100%;
}

    button:active, button:disabled {
        transform: rotateY(180deg);
        opacity: 0.3;
    }

    button, button * {
        transition: all ease-out 0.33s;
    }

#fan .fan {
    transform-origin: 50%;
    opacity: 0.5;
}

#fan[state=active] .fan {
    opacity: 1;
    animation-duration: 20s;
    animation-name: spinning;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 100%;
    max-width: 100%;
}

[horizontal] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}



footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

    footer a {
        font-size: 1rem;
        background: none;
        color: white;
        border: none;
        margin: 0;
        padding: 0 0.125rem 0 0;
        text-shadow: 0 0.25rem 0.25rem black;
    }


/* form ui */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

input, select, option {
    background: hsla(30, 100%, 60%, 0.25);
    color: white;
    border: solid 1px hsla(30, 100%, 60%, 0.5);
    overflow: visible;
    background: hsla(30, 100%, 60%, 0.25);
    font-weight: 100;
    pointer-events: all;
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    input[type=text], input[type=password] {
        cursor: text;
    }

    input::placeholder {
        color: white;
        opacity: 0.25;
        text-align: center;
    }

    input::-ms-input-placeholder {
        color: white;
        opacity: 0.25;
        text-align: center;
    }

    input::-webkit-input-placeholder {
        color: white;
        opacity: 0.25;
        text-align: center;
    }

    input:hover, input:active, input:focus {
        border: solid 1px hsl(30, 100%, 60%);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: solid 1px hsl(30, 100%, 60%);
        -webkit-text-fill-color: white;
        border-radius: 0;
        transition: background-color 5000s ease-in-out 0s;
    }

/*form + h1 {
    display: none;
}

form[action="/user/register"] {
    display: none;
}*/
