@page "/tomorrow"

<tile-group>
    <h1>set alarm</h1>
    <tile size="normal" title="6am"></tile>
    <tile size="normal" title="7am"></tile>
    <tile size="small" title="8am"></tile>
    <tile size="small" title="9am"></tile>
    <tile size="small" title="10am"></tile>
    <tile size="wide" title="no alarm"></tile>
    <h1>prepare trip</h1>
    <tile size="normal" title="charge to 90%"></tile>
    <tile size="wide" title="charge to 100% % set route"></tile>
</tile-group>