@page
@model Fitness.Pages.AddModel

<section>
    <h3>add pushups</h3>
    <form asp-page="add" method="post">
        <input type="hidden" name="amount" value="10">
        <input type="hidden" name="training" value="pushups">
        <input type="submit" value="add 10 pushups">
    </form>
    <form asp-page="add" method="post">
        <input type="hidden" name="amount" value="20">
        <input type="hidden" name="training" value="pushups">
        <input type="submit" value="add 20 pushups">
    </form>
    <form asp-page="add" method="post">
        <input type="hidden" name="amount" value="30">
        <input type="hidden" name="training" value="pushups">
        <input type="submit" value="add 30 pushups">
    </form>
</section>