@page
@model Fitness.Pages.MenuModel

<section left>
    @if (User.Identity.IsAuthenticated == false)
    {
        <h3>login</h3>
        <form asp-page="user/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="hidden" name="redirectto" value="/menu">
            <input type="submit" value="login">
        </form>
    }
    else
    {
        <h3>add pushups</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <p>@User.Identity.Name</p>
        }
        <form asp-page="add" method="POST">
            <input type="hidden" name="pushups" value="10">
            <input type="submit" value="add 10 pushups">
        </form>
        <form asp-page="add" method="POST">
            <input type="hidden" name="pushups" value="20">
            <input type="submit" value="add 20 pushups">
        </form>
        <form asp-page="add" method="POST">
            <input type="hidden" name="pushups" value="30">
            <input type="submit" value="add 30 pushups">
        </form>

        <h3>logout</h3>
        <form asp-page="user/logout" method="post">
            <input type="submit" value="logout">
        </form>
    }

    <h3>show data of year</h3>
    <form action="/">
        <input type="submit" value="2019">
    </form>
    <form action="/">
        <input type="hidden" name="year" value="2018">
        <input type="submit" value="2018">
    </form>
    <form action="/">
        <input type="hidden" name="year" value="2017">
        <input type="submit" value="2017">
    </form>
</section>