@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <Home.UI.Navigation class="top" Entries='new [] { "charger", "car", "lights", "server" }' />

        <Home.UI.Navigation class="left" Entries='new [] { "morning", "day", "evening", "night", "tomorrow" }' />

        <Home.UI.Navigation class="right" Entries='new [] { "finances", "fitness", "todo", "foldingathome" }' Names='new Dictionary<string, string>{ { "foldingathome", "folding@home" } }' />
    </Authorized>
</AuthorizeView>
<Home.UI.Navigation class="bottom" Entries='new [] { "home", "code", "music", "me" }' />

<main>
    @Body
</main>
