@page
@model YouTube.Pages.BuildModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        html {
            background: black;
            font-family: sans-serif;
            color: white;
        }
    </style>
    <title>Build</title>
</head>
<body>
    rebuilt
</body>
</html>
