@page "{indexorid?}"
@model YouTube.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Davepermens YouTube</title>
    <link rel='manifest' href='/manifest.json'>
    <link href='~/style.css' rel='stylesheet' asp-append-version="true">
    <script>
        function youtube_check(e) {
            var thumbnail = ['maxresdefault', 'mqdefault', 'sddefault', 'hqdefault', 'default'];
            var url = e.getAttribute('src');
            if (e.naturalWidth === 120 && e.naturalHeight === 90) {
                for (var i = 0, len = thumbnail.length - 1; i < len; i++) {
                    if (url.indexOf(thumbnail[i]) > 0) {
                        e.setAttribute('src', url.replace(thumbnail[i], thumbnail[i + 1]));
                        break;
                    }
                }
            }
        }
    </script>
</head>
<body>
    @if (Model.IsIndex)
    {
        <section list>
            @foreach (var video in Model.Videos.Skip(Model.Index * 10).Take(10))
            {
                <a href='/@video.Id'>
                    <h1>@video.Title</h1>
                    <h2>@video.Author</h2>
                    <img src='https://i3.ytimg.com/vi/@video.Id/maxresdefault.jpg' onload='youtube_check(this)'>
                </a>
            }
            @if (Model.Videos.Length > (Model.Index + 1) * 10)
            {
                <a href='/@(Model.Index + 1)/'></a>
            }
        </section>
    }
    else
    {
        <section video>
            <div>
                <iframe src="https://www.youtube-nocookie.com/embed/@Model.VideoId?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
        </section>
    }
</body>
</html>