@page "{indexorid?}"
@model YouTube.Pages.WidgetModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Davepermens YouTube</title>
    <link rel='manifest' href='/manifest.json'>
    <link href='~/style.css' rel='stylesheet' asp-append-version='true'>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' />
    <script>
        function youtube_check(e) {
            var thumbnail = ['maxresdefault', 'mqdefault', 'sddefault', 'hqdefault', 'default'];
            var url = e.getAttribute('src');
            if (e.naturalWidth === 120 && e.naturalHeight === 90) {
                for (var i = 0, len = thumbnail.length - 1; i < len; i++) {
                    if (url.indexOf(thumbnail[i]) > 0) {
                        e.setAttribute('src', url.replace(thumbnail[i], thumbnail[i + 1]));
                        break;
                    }
                }
            }
        }
    </script>
</head>
<body>
    <section video>
        @foreach (var video in Model.Videos.Take(2))
        {
            <a href='https://yt.davepermen.net'>
                <h1>@video.Title</h1>
                <h2>@video.Author</h2>
                <img src='https://i3.ytimg.com/vi/@video.Id/maxresdefault.jpg' onload='youtube_check(this)'>
            </a>
        }
    </section>
</body>
</html>