@page
@namespace EvState.Pages
@*@{
    Layout = null;
}
<html>
<head>
    <base href="~/" />
</head>
<body>*@
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
@*</body>
</html>*@