@page
@model MenuModel

<section left>
    @if (User.Identity.IsAuthenticated == false)
    {
        <h1>login</h1>
        <form asp-page="user/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="hidden" name="redirectto" value="/menu">
            <input type="submit" value="login">
        </form>
    }
    else
    {
        <form asp-page="user/logout" method="post">
            <input type="submit" value="logout">
        </form>
    }
</section>