html {
    background: #000;
    color: #fff;
    font-family: 'segoe ui', sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    line-height: 5vw;
    width: 100%;
    min-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

* {
    cursor: default;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    display: grid;
    margin: 0;
}

script, head, style {
    display: none;
}

span {
    /* allowing inline <a> tags */
    grid-template-columns: auto;
    grid-auto-columns: 1fr;
    grid-gap: 0.33rem;
    grid-auto-flow: column;
    justify-self: start;
}

body {
    width: 100%;
    min-height: 100%;
}

main {
    grid-area: 1 / 1;
    align-self: center;
    justify-self: center;
    text-shadow: 0px 0.25rem 0.5rem #000, 0px 0.25rem 0.5rem #000;
}

    main h1 {
        font-size: 2rem;
        font-weight: normal;
        margin: 0 0 2rem 0;
    }

    main ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        main ul * {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
            cursor: text;
        }
        main a:hover {
            text-shadow: 0px 0.25rem 1rem #555, 0px 0.25rem 1rem #555;
        }

        main a[onlyonhover]:not(:hover) {
            text-decoration: none;
        }

    main section {
        margin: 1rem 0 0 0;
    }

        main section > h1 {
            font-size: inherit;
            margin: 0;
        }

footer {
    grid-area: 1 / 1;
    align-self: flex-end;
    justify-self: stretch;
    font-size: 0.7rem;
    opacity: 0.7;
}
    footer *:not(:last-child) {
        justify-self: end;
    }

    footer *:last-child {
        justify-self: stretch;
        height: 1rem;
    }

a {
    color: inherit;
    transition: text-shadow 0.25s ease-in-out;
    cursor: pointer;
}


/* widescreen wider than square */
@media screen and (min-aspect-ratio: 1/1) {
    html {
        font-size: 2.5vh;
        line-height: 2.5vh;
    }
}

/* widescreen wider than 4/3 */
@media screen and (min-aspect-ratio: 4/3) {
}

/* portrait mode wider than 3/4 */
@media screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
}




/* ie11 hacks */
@media all and (-ms-high-contrast:none) {
    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    main {
        margin: 0;
    }
}



html {
    background: url('/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section[blog] {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    perspective: 100rem;
    perspective-origin: 50% 50%;
}

    section[blog] article {
        font-family: sans-serif;
        background: white;
        color: black;
        margin: 4em 0 10em;
        padding: 0 0 12em;
        max-width: 60em;
        min-height: 100%;
        box-shadow: 0 0 10em black;
        animation: 0.7s linear forwards article-fadein3d;
        overflow: hidden;
    }

        section[blog] article header {
            padding: 0 1em 0 1em;
            line-height: 1em;
            height: 20em;
            position: relative;
            margin: 0;
            color: white;
            text-shadow: 0 0 0.5em black;
            background-size: cover;
            background-position: center center;
        }

            section[blog] article header h1 {
                font-size: 4em;
                line-height: 1em;
                margin: 0;
                padding: 1em 1em 0 1em;
            }

            section[blog] article header section[meta] {
                position: absolute;
                right: 1em;
                bottom: 1em;
            }

                section[blog] article header section[meta] p {
                    text-align: right;
                    margin: 0;
                    padding: 0;
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 1em;
                    text-shadow: 0 0 1em black, 0 0 1em black;
                }

        section[blog] article h1 {
            font-weight: 600;
            font-size: 2em;
            background: none;
            margin: 1em 2em;
        }

    section[blog] article {
        margin: 4em;
    }

        section[blog] article p {
            line-height: 1.6em;
            font-weight: inherit;
            font-size: 1.4em;
            font-family: 'georgia', 'times new roman', serif;
            margin: 0.72em 2.9em;
        }

            section[blog] article p:first-of-type {
                margin-top: 2.8em;
            }

        section[blog] article pre {
            margin-top: 2.8em;
            margin-bottom: 2.8em;
        }

        section[blog] article > section > p:first-of-type:not(:only-child)::first-letter {
            font-size: 3.5em;
            font-weight: 900;
            float: left;
            padding: 0.1em 0.05em 0 0;
            line-height: 0.625em;
            text-shadow: 0.07rem 0.125rem 0.25rem 0.25rem lightgray;
        }

@keyframes article-fadein3d {
    from {
        /*transform: translateZ(30) rotate(-40deg);*/
        zoom: 1.5;
        opacity: 0;
    }

    to {
        /*transform: none;*/
        transform: none;
        zoom: 1;
        opacity: 1;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    * {
        box-sizing: border-box;
    }

    section[blog] {
        margin: 0;
    }

        section[blog] article {
            margin: 0;
            padding: 0;
            width: 100%;
        }

            section[blog] article h1,
            section[blog] article p {
                margin: 1em 0;
                padding: 0.25em 1em;
            }

            section[blog] article h1 {
                line-height: 2em;
            }
}

@media screen and (min-aspect-ratio: 4/3) {
    section[blog] {
        font-size: 0.5rem;
    }
}

section[blog] pre {
    margin: 0;
    padding: 0;
    font-size: 1.33em;
    background-color: #484848;
    box-shadow: #242424 0 0 8em inset;
}

    section[blog] pre code {
        padding: 1rem 2rem;
        cursor: text;
    }

code {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

section[blog] img {
    max-width: 100%;
}
