@page "{Slug}"
@model Homepage.Pages.BlogModel

@using Homepage

@{
    Layout = "_Layout";
}

@if(Model.HasBlogContent)
{
    <section blog>
        <article>
            <section>
                @Html.Raw(Model.BlogContent)
            </section>
        </article>
    </section>
}