@page
@model Homepage.Pages.IndexModel
@{
    Layout = "_Layout";
}
<script src="~/shaderpen.js"></script>
<script>
    new ShaderPen(`
void mainImage(out vec4 fragColor, in vec2 fragCoord)
{
    vec2 pos = vec2(iMouse.x, iResolution.y - iMouse.y);

    mat2 rot45 = mat2(0.707, -0.707, 0.707, 0.707);

    vec2 center = iResolution.xy * 0.5;
    vec2 center_to_mouse = pos.xy - center;

    vec2 pos1 = center + center_to_mouse * rot45;
    vec2 pos2 = center + vec2(center_to_mouse.y, -center_to_mouse.x) * rot45;
    vec2 pos3 = center - center_to_mouse * rot45;
    vec2 pos4 = center + vec2(-center_to_mouse.y, center_to_mouse.x) * rot45;

    float scale = 3.75;

    vec3 col1 = vec3(1.0, 0.5, 0.25) * (scale / sqrt(distance(fragCoord.xy, pos1)));
    vec3 col2 = vec3(0.375, 1.0, 0.25) * (scale / sqrt(distance(fragCoord.xy, pos2)));
    vec3 col3 = vec3(0.25, 0.5, 1.0) * (scale / sqrt(distance(fragCoord.xy, pos3)));
    vec3 col4 = vec3(0.825, 0.25, 1.0) * (scale / sqrt(distance(fragCoord.xy, pos4)));
    
    vec3 col = col1 + col2 + col3 + col4;
    
    vec3 tonemapped = 1.0 - exp(-col * (1.0 + 0.125 * sin(iTime)));

    fragColor = vec4(tonemapped * tonemapped, 1.0);
}
`);
</script>
<main>
    <h1>davepermen.net</h1>
    <section>
        <h1>me</h1>
        <span>my name is David Spörri</span>
        <span>I'm living in Switzerland</span>
        <span>you can find me on <a href='https://twitter.com/davepermen' target="_blank">twitter</a></span>
        <span>or drop me a mail at <a href='mailto:davepermen@hotmail.com'>davepermen@hotmail.com</a></span>
        <span>you can even call/sms/whatsapp me on <a href='tel:0041797732101'>+41 (0)79 773 21 01</a></span>
    </section>
    <section>
        <h1>blog</h1>
        @foreach (var post in Model.BlogPosts)
        {
            <span><a href='/blog/@post.Path' onlyonhover>@post.Title</a></span>
        }
    </section>
    <section>
        <h1>music</h1>
        <span>I'm on <a href='https://soundcloud.com/davepermen' target="_blank">soundcloud</a></span>
        <span>and on <a href='https://www.mixcloud.com/davepermen' target="_blank">mixcloud</a></span>
        <span>you can even find me on <a href='https://davepermen.bandcamp.com' target="_blank">bandcamp</a></span>
    </section>
    <section>
        <h1>code</h1>
        <span>I'm on <a href='http://github.com/davepermen' target="_blank">github</a></span>
    </section>
</main>

<footer>
    <span>want to donate? <a href='https://www.paypal.me/davepermen' target="_blank">click here</a></span>
    <span>want 1600km of free Supercharging on a new Tesla? <a href='https://www.tesla.com/referral/david83185' target="_blank">click here (referral link)</a></span>
    <span>&copy; David Spörri 2019</span>
    <a href="https://www.republik.ch/2019/04/08/die-schoenste-klimagrafik-der-welt" target="_blank">
        <img src="~/die-schoenste-klimagrafik-der-welt.svg" alt="Wärmestreifen Schweiz" />
    </a>
</footer>