@page
@model Homepage.Pages.IndexModel

@using Homepage

@{
    Layout = "_Layout";
}
<div id='background'></div>
<div id='foreground'>
    <main>
        <h1>davepermen.net</h1>
        <section>
            <article>
                <h1>me</h1>
                <ul>
                    <li>my name is David Spörri</li>
                    <li>I'm living in Switzerland</li>
                    <li>you can find me on <a href='https://twitter.com/davepermen'>twitter</a></li>
                    <li>or drop me a mail at <a href='mailto:davepermen@hotmail.com'>davepermen@hotmail.com</a></li>
                    <li>you can even call/sms/whatsapp me on <a href='tel:0041797732101'>+41 (0)79 773 21 01</a></li>
                </ul>
            </article>
        </section>
        <section>
            <article>
                <h1>blog</h1>
                <ul>
                    @foreach (var path in System.IO.Directory.GetDirectories($@"{Program.DataRoot}\blog").Select(d => System.IO.Path.GetFileName(d)))
                    {
                        <li>@path<a href='/blog/@path.Replace(' ', '-')'>►</a></li>
                    }
                </ul>
            </article>
        </section>
        <section>
            <article>
                <h1>music</h1>
                <ul>
                    <li>I'm on <a href='https://soundcloud.com/davepermen'>soundcloud</a></li>
                    <li>and on <a href='https://www.mixcloud.com/davepermen'>mixcloud</a></li>
                    <li>you can even find me on <a href='https://davepermen.bandcamp.com'>bandcamp</a></li>
                </ul>
            </article>
        </section>
        <section>
            <article>
                <h1>code</h1>
                <ul>
                    <li>I'm on <a href='http://github.com/davepermen'>github</a></li>
                </ul>
            </article>
        </section>
    </main>

</div>
<div id='footnotes'>
    <footer>
        want to donate? <a href='https://www.paypal.me/davepermen'>click here</a><br>
        &copy; David Spörri 2018
    </footer>
</div>