@page "/"

<tile-group>
    <h1>home</h1>
    <tile size="normal" title="welcome home"></tile>
    <tile size="big" style="background: center / cover url('https://davepermen.net/background.jpg')"></tile>
    <tile size="normal"></tile>
</tile-group>