@page "/me"

<tile-group>
    <h1>davepermen</h1>
    <tile size="big" title="about me" style="background: center / cover url('/me.webp')"></tile>
    <tile size="normal" title="send mail"></tile>
    <tile size="normal" title="call"></tile>
    <Home.UI.Me.Authentication/>
</tile-group>