@page "/me"

<tile-group>
    <h1>davepermen</h1>
    <tile size="big" title="about me" style="background: center / cover url('https://davepermen.net/background.jpg')"></tile>
    <tile size="normal" title="send mail"></tile>
    <tile size="normal" title="call"></tile>
    <tile size="normal" title="logout"></tile>
</tile-group>