@page
@model Fitness.Pages.User.RegisterModel

<h1>Register</h1>

<form method="post">
    <input asp-for="Username" />
    <input asp-for="Password" />
    <button type="submit">register</button>
</form>